<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    
    Lorem ipsum dolor sit amet consectetur
    
    <form action="/submit" method="POST">
    <select name="direc" id="direc">
        <option value="CN">CN</option>
        <option value="WDL">WDL</option>
        <option value="DBMS">DBMS</option>
        <option value="MP">MP</option>
        
    </select>
        <br>
    <input type="text" name="fname" id="fname" placeholder="ENTER FNAME">


    <button type="submit"> SUBMIT </button>
    </form>

    
    adipisicing elit. Sunt facilis esse, cumque a sed, quia ipsa asperiores recusandae rerum perferendis vel ipsam, veniam sint repellat doloribus aut quidem itaque! Laudantium?
</body>
</html>