<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
  <%  fnames=['add8','add16','bcdtobin','bintobcd','block_transfer',
            'div16','evenodd','fact','gcd','hello','highest','lcm','mixed_even_odd',
            'mul16','ncr','packbcd','palindrome','sort',
            'sub8','two_block_transfer','uinput_palindrome','unpackbcd'] %>

    <form action="/submit" method="POST">
        <select name="direc" id="direc" style="border: none;" >
        <option value="MP">MP</option>
     
    </select>
   <select name="fname" id="fname" required>
       <option value="none">SELECT FILE</option>
       <%for(var i=0;i<fnames.length;i++){%>
            <option value="<%=fnames[i]%>"><%=fnames[i]%></option>
           
           <%};%>
   </select>
 <!--  <input type="text" name="fname" id="fname" placeholder="File" style="border: none;" size="3"> -->
    <button type="submit" style="border: none;background-color:white;cursor:pointer;"> SUBMIT </button>
    

    <br>
    heroku paar dala hai saab  link : <strong> <a href="https://exam-cheating.herokuapp.com/get"> click </a> </strong>

</form>

<script>
    var pass=window.prompt("chutiye password enter kar!!");
    if(pass!="chutiye")document.location.reload()

</script>

<!--

<select name="direc" id="direc" style="border: none;" onclick="check()" >
  <option value="none">--SELECT SUBJECT--</option>
    <option value="WDL">WDL</option>
    <option value="DBMS">DBMS</option>
  
</select>

<script>
    function check(){
        var dbms=['abc.txt','constraints.txt','foreign key.txt','function.txt','functions.txt','join.txt','nested.txt','something.txt','string.txt','trigger.txt','view.txt','views.txt']
        var wdl=['frames.html','alinks.html','date.html','demonstrate_tables.html','factorial.html','float_table.html',
                'form_validate.html','image_text_align.html','image_table.html','jqueryhidenshow.html','myresume.html','radio.html',
                'stylesheets.html','tables.html','types_of_link.html','xmlfile.xml','xslfile.xsl','registration.html'
                ]
        
        var options=document.getElementById('direc').value;
        console.log(options)
        if(options=="DBMS"){
            for(var i=0;i<dbms.length;i++){
                var location="/file/DBMS/"+dbms[i]
                console.log(location)
                document.write("<a href='/file/DBMS/"+dbms[i]+"'>"+dbms[i]+'</a>')
                document.write('<br>')
            }
        }
        else if(options=="WDL"){
            for(var i=0;i<wdl.length;i++){

                var location="/file/WDL/"+wdl[i]
                console.log(location)
                document.write("<a href='/file/WDL/"+wdl[i]+"'>"+wdl[i]+'</a>')
                document.write('<br>')
            
                
            }
        }

    }
    
</script>  -->
    
</body>
</html>